@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .base-container {
    @apply min-h-screen w-full px-3 pt-[8rem] md:px-8 md:pt-[10rem] lg:mx-auto lg:max-w-[964px] lg:px-0;
  }
}

@layer utilities {
  .alertCard {
    width: 100%;
  }
  @media (min-width: 375px) and (max-width: 743px) {
    .noticeCard {
      width: 171px !important;
    }
  }

  @media (min-width: 744px) and (max-width: 1919px) {
    .noticeCard {
      width: 312px !important;
    }
  }

  @media (min-width: 1920px) {
    .noticeCard {
      width: 312px !important;
    }
  }
}

@layer utilities {
  .responsive-text {
    font-size: clamp(0.5rem, 3vw, 12px);
  }
  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

body {
  text-decoration: none;
  background-color: #fafafa;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #111322;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("../public/fonts/SpoqaHanSansNeo-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  src: url("../public/fonts/SpoqaHanSansNeo-Bold.ttf") format("woff");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  body,
  input,
  button,
  textarea {
    font-family: "SpoqaHanSansNeo-Regular";
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scroll-locked {
  overflow: hidden;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}
