@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .base-container {
    @apply min-h-screen w-full px-3 pt-[102px] md:px-8 md:pt-[70px] lg:mx-auto lg:max-w-[964px] lg:px-0;
  }
}

body {
  text-decoration: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #111322;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("../public/fonts/SpoqaHanSansNeo-Regular.ttf") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  src: url("../public/fonts/SpoqaHanSansNeo-Bold.ttf") format("woff");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  body,
  input,
  button,
  textarea {
    font-family: "SpoqaHanSansNeo-Regular";
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}
